header {
	margin: 0;
	background-color: #1F2937;
	height: 4rem;
	padding: 0;
	display: flex;
	color: #FFFFF0 !important;
}

#name {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	margin: 0;
	padding: 0;
}

#header-nav {
	color: #FFFFF0 !important;
	width: 100%;
	display: flex;
	align-items: center;
}

.header-link {
	color: #FFFFF0 !important;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: solid rgb(255, 255, 255) 1px !important;
	width: calc(100% / 6);
	height: 100%;
	transition: all 0.3s ease-in-out;
}

.header-link:hover, #current {
	box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
}

#watch {
	position: fixed;
	inset: 0;
	z-index: 9999;
	top: 92%;
	left: 88.5%;
	pointer-events: none;
	border: solid 1px #FFFFF0 ;
	background-color: rgba(31, 41, 55, 0.9);
	width: 10.5rem;
	height: 3rem;
	display: flex;
	justify-content: right;
	color: rgb(224, 214, 200);
}
